/* nejsme vcerejsi, pouzivame moderni box model */

html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

.obal {
  width: 960px;
  /* obsah stránky je omezený do pruhu širokého 960px */
  margin: 0 auto;
  /* pruh je na stránce vycentrovaný */
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.obal {
  max-width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-start;
  color: #48418e;
}

.položka {
  display: inline-block;
}

a {
  padding: 20px 30px;
  display: inline-block;
  text-decoration: none;
}

.položka:hover {
  background-color: #b6b4dd;
}

.appka {
  color: #25133d;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  padding-bottom: 30px;
  font-weight: 400;
}

.horni {
  background-image: url(images/pozadi.jpg);
  color: white;
  padding: 30px;
  position: relative;
}

img {
  position: absolute;
  height: 85%;
  right: 0px;
  bottom: 0px;
}

.stáhnout {
  display: inline-block;
  border: 1px solid white;
  border-radius: 3%;
  padding: 5px;
  margin: 30px 30px 30px 0px;
  background-color: #48418e;
  color: white;
}

.více {
  display: inline-block;
  border: 1px solid white;
  border-radius: 3%;
  padding: 5px;
  margin: 30px 30px 30px 0px;
  color: white;
}

.více:hover, .stáhnout:hover {
  background-color: #b6b4dd;
}

.spodni {
  display: flex;
  color: #48418e;
  position: relative
}

.popis {
  text-align: center;
  margin: 30px;
}

.ikon {
  height: 60px;
}

.letadlo {
  position: absolute;
  top: 30px;
  left: 130px;
}

.bubliny {
  position: absolute;
  top: 30px;
  left: 450px
}

.mapa {
  position: absolute;
  top: 30px;
  right: 135px;
}

.podnadpis {
  font-weight: 700;
}

footer {
  text-align: center;
  background-color: #48418e;
  color: white;
  padding: 5px;
}

.spodni {
  padding-top: 70px;
  position: relative;
}